<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Sn</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Image</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.FirstName }}</td>
        <td>{{ item.LastName }}</td>
        <td>{{ item.Email }}</td>
        <td>{{ item.Phone }}</td>
        <td>
          <img
            [src]="'http://localhost:8000/uploads/' + item.ProfileImage"
            width="60px"
            alt=""
          />
        </td>
        <td>
          <button class="btn btn-success btn-xs" (click)="onEdit(item)">
            Edit
          </button>
          <button class="btn btn-danger btn-xs" (click)="onDelete(item._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <form [formGroup]="userForm" (submit)="onSubmit()" class="form">
    <label for="">First Name</label>
    <input type="text" formControlName="FirstName" class="form-control" />

    <label for="">Last Name</label>
    <input type="text" formControlName="LastName" class="form-control" />

    <label for="">Email</label>
    <input type="text" formControlName="Email" class="form-control" />

    <label for="">Phone</label>
    <input type="text" formControlName="Phone" class="form-control" />

    <label for="">ProfileImage</label>
    <input
      type="file"
      formControlName="ProfileImage"
      (change)="uploadFile($event)"
      class="form-control"
    />
    <img [src]="imageUrl" alt="" width="50px" />
    <br />
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
